<div class="main-area">
  <mat-toolbar style="background: none;">
    <span>ルール設定</span>
  </mat-toolbar>

  <div style="margin-left: 20px;">

    <mat-form-field appearance="fill">
      <mat-label>人数</mat-label>
      <label>
        <mat-select [(ngModel)]="selectedNumber" name="selectedNumber">
          <mat-option
            *ngFor="let number of numbers"
            [value]="number.value">
            {{number.value}}
          </mat-option>
        </mat-select>
      </label>
    </mat-form-field>

    <div></div>

    <mat-form-field appearance="fill" style="margin-right: 10px;">
      <mat-label>名前①</mat-label>
      <input matInput [(ngModel)]="name1" value="">
    </mat-form-field>
    <mat-form-field appearance="fill" style="margin-right: 10px;">
      <mat-label>名前②</mat-label>
      <input matInput [(ngModel)]="name2" value="">
    </mat-form-field>
    <mat-form-field appearance="fill" style="margin-right: 10px;">
      <mat-label>名前③</mat-label>
      <input matInput [(ngModel)]="name3" value="">
    </mat-form-field>
    <ng-container *ngIf="selectedNumber === '四麻'">
      <mat-form-field appearance="fill" style="margin-right: 10px;">
        <mat-label>名前④</mat-label>
        <input matInput [(ngModel)]="name4" value="">
      </mat-form-field>
    </ng-container>

    <div></div>

    <mat-form-field appearance="fill">
      <mat-label>ウマ</mat-label>
      <label>
        <mat-select [(ngModel)]="selectedUma" name="selectedUma">
          <mat-option
            *ngFor="let uma of umaList"
            [value]="uma.value">
            {{uma.value}}
          </mat-option>
        </mat-select>
      </label>
    </mat-form-field>

    <div></div>

    <mat-form-field appearance="fill">
      <mat-label>オカ</mat-label>
      <label>
        <mat-select [(ngModel)]="selectedOka" name="selectedOka">
          <mat-option
            *ngFor="let oka of okaList"
            [value]="oka.number">
            {{oka.value}}
          </mat-option>
        </mat-select>
      </label>
    </mat-form-field>

    <div></div>

    <label id="yakitori-label">【焼き鳥】</label>
    <div>
      <mat-radio-group [(ngModel)]="isYakitori" aria-label="Select an option">
        <mat-radio-button style="margin-top:5px;margin-right: 16px;" *ngFor="let existflag of existFlagList" [value]="existflag.flag">
          {{existflag.value}}
        </mat-radio-button>
      </mat-radio-group>
    </div>

    <div style="margin-top: 15px;"></div>

    <label id="tobishou-label">【飛び賞】</label>
    <div>
      <mat-radio-group [(ngModel)]="isTobishou" aria-label="Select an option">
        <mat-radio-button style="margin-top:5px;margin-right: 16px;" *ngFor="let existflag of existFlagList" [value]="existflag.flag">
          {{existflag.value}}
        </mat-radio-button>
      </mat-radio-group>
    </div>
    <ng-container *ngIf="isTobishou">
      <mat-form-field style="margin-top: 10px;" appearance="fill">
        <mat-label>加点ポイント</mat-label>
        <input matInput type="number" [(ngModel)]="tobishouPoint" value=0>
      </mat-form-field>
    </ng-container>

    <div [ngClass]="{'div-margin': !isTobishou}"></div>

    <mat-form-field appearance="fill">
      <mat-label>レート</mat-label>
      <label>
        <mat-select [(ngModel)]="selectedRate" name="selectedRate">
          <mat-option
            *ngFor="let rate of rateList"
            [value]="rate.number">
            {{rate.value}}
          </mat-option>
        </mat-select>
      </label>
    </mat-form-field>

    <div></div>

    <label id="tip-label">【チップ】</label>
    <div>
      <mat-radio-group [(ngModel)]="isTip" aria-label="Select an option">
        <mat-radio-button style="margin-top:5px;margin-right: 16px;" *ngFor="let existflag of existFlagList" [value]="existflag.flag">
          {{existflag.value}}
        </mat-radio-button>
      </mat-radio-group>
    </div>

    <ng-container *ngIf="isTip">
      <div></div>

      <label id="tip-initial-number"></label>
      <div>
        <mat-form-field style="margin-top: 10px;" appearance="fill">
          <mat-label>チップ枚数（初期値）</mat-label>
          <input matInput type="number" [(ngModel)]="tipInitialNumber" value=0>
        </mat-form-field>
      </div>

      <div></div>

      <label id="tip-rate"></label>
      <div>
        <mat-form-field appearance="fill">
          <mat-label>チップ代（円）</mat-label>
          <input matInput type="number" [(ngModel)]="tipRate" value=0>
        </mat-form-field>
      </div>
    </ng-container>
    <button
    mat-raised-button
    style="margin-top: 10px;"
    (click)="saveMatchSetting()">保存</button>
  </div>
</div>
