<div class="main-area">
  <mat-toolbar style="background: none;">
    <span>精算</span>
  </mat-toolbar>

  <div style="margin-left: 18px;">
    <mat-form-field appearance="fill" style="margin-right: 10px;">
      <mat-label>部屋番号</mat-label>
      <input matInput type="number" [(ngModel)]="roomId" value=0>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="searchMatchSettingByRoomId(); searchMatchResultByRoomId();">検索</button>
  </div>
  <ng-container *ngIf="isSearchSetting">
    <button
      mat-raised-button
      style="margin-bottom: 10px;margin-left: 18px;"
      (click)="openSeisanDialog()">精算</button>
  </ng-container>
  <ng-container *ngIf="isSearchSetting">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <!-- Point Column -->
      <ng-container matColumnDef="game">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell style="padding-left:18px;width:30px" *matCellDef="let element; let i = index;"> {{i + 1}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name1">
        <th mat-header-cell *matHeaderCellDef> {{matchSetting.name1}} </th>
        <td mat-cell *matCellDef="let element" style="width:60px"> {{getData(element, 1)}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name2">
        <th mat-header-cell *matHeaderCellDef> {{matchSetting.name2}} </th>
        <td mat-cell *matCellDef="let element" style="width:60px"> {{getData(element, 2)}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name3">
        <th mat-header-cell *matHeaderCellDef> {{matchSetting.name3}}  </th>
        <td mat-cell *matCellDef="let element" style="width:60px"> {{getData(element, 3)}} </td>
      </ng-container>

      <ng-container *ngIf="matchSetting.mahjongNumber !== '三麻'">
        <!-- Name Column -->
        <ng-container matColumnDef="name4">
          <th mat-header-cell *matHeaderCellDef> {{matchSetting.name4}}  </th>
          <td mat-cell *matCellDef="let element" style="width:60px"> {{getData(element, 4)}} </td>
        </ng-container>
      </ng-container>

      <!-- Edit Column -->
      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef style="padding-right:0px;">
          <button (click)="openInputDialog()"
          style="padding-left: 0;padding-right:0" mat-button><mat-icon>add</mat-icon></button>
        </th>
        <td mat-cell *matCellDef="let element" style="padding-right:0px;">
          <button (click)="openEditDialog(element)"
          style="padding-left: 0;padding-right:0" mat-button><mat-icon>edit</mat-icon></button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </ng-container>
</div>
