<div fxLayout="column" fxFlexFill>

  <!-- ヘッダ -->
  <div fxFlex="50px" class="header">
    <app-header (menuClickEvent)="onMenuClickFromChild()"></app-header>
  </div>

  <div fxFlex>
    <mat-sidenav-container style="height: 100%;">

      <!-- サイドバー -->
      <mat-sidenav [opened]="sideBarOpened" (closedStart)="onSideBarClose()" style="width: 200px;">
        <mat-nav-list>
          <a (click)="$event.preventDefault();">
            <mat-list-item
              (click)="$event.preventDefault(); onSideBarClose(); router.navigate(['match-register'])">
              <mat-icon>settings</mat-icon>
              &nbsp;ルール設定
            </mat-list-item>
            <mat-list-item
              (click)="$event.preventDefault(); onSideBarClose(); router.navigate(['seisan'])">
              <mat-icon>currency_yen</mat-icon>
              &nbsp;精算
            </mat-list-item>
          </a>
        </mat-nav-list>
      </mat-sidenav>

      <mat-sidenav-content>
        <div fxLayout="column" fxFlexFill>

          <!-- 本文 -->
          <div fxFlex>
            <router-outlet></router-outlet>
          </div>

          <!-- フッタ -->
        </div>
      </mat-sidenav-content>

    </mat-sidenav-container>
  </div>


</div>



